

params {

    reference = "${PWD}/_assets/genomes/c_elegans/PRJNA13758/WS276/c_elegans.PRJNA13758.WS276.genome.fa.gz"
    
    // This is the bamfile that will be spiked into
    bam_file = "${PWD}/_assets/bam/N2.bam"
    
    // This is the VCF from which 'real' variants will be used for simulations
    vcf_file = "${PWD}/_assets/vcf/WI.20180527.soft-filter.vcf.gz"

    varset_size = 3
    n_varsets = 2
}