/*
    Quest Configuration
*/

process {

    withLabel: xs {
        cpus = 1
        memory = 1.GB
    }

    withLabel: sm {
        cpus = 1
        memory = 4.GB
    }

    withLabel: md {
        cpus = 2
        memory = 8.GB
    }

    withLabel: lg {
        cpus = 4
        memory = 20.GB
    }

    withLabel: xl {
        cpus = 12
        memory = 30.GB
    }

}

params {

    // This is the bamfile that will be spiked into
    bam_file = "/projects/b1059/workflows/alignment-nf/20200426_all/alignment-20200426/bam/N2.bam"
    
    // This is the VCF from which 'real' variants will be used for simulations
    vcf_file = "/projects/b1059/analysis/WI-20180527/variation/WI.20180527.soft-filter.vcf.gz"

    n_variants = 10000
    n_varsets = 20

    /* Adjust these parameters to set the reference genome */
    reference_base = "/projects/b1059/data/genomes"
    species="c_elegans"
    project="PRJNA13758"
	ws_build="WS276"
	
    /* Keep these static ~ They should not need to be updated */
    reference_dir = "${reference_base}/${species}/${project}/${ws_build}"
    reference = "${reference_dir}/${species}.${project}.${ws_build}.genome.fa.gz"  
    
}

executor {
    queueSize=100
}

singularity {

    enabled = true
    autoMounts = true

    cacheDir = "/projects/b1059/workflows/variant-simulations-nf/singularity_cache"
}

